* {
  box-sizing: border-box;
}

*[class^="grid"] {
  display: grid;
}

*[class^="grid"] > * {
  padding: 1em;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-xs-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-xs-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-xs-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-xs-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-xs-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-xs-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-xs-7 {
  grid-template-columns: repeat(7, 1fr);
}

.grid-xs-8 {
  grid-template-columns: repeat(8, 1fr);
}

.grid-xs-9 {
  grid-template-columns: repeat(9, 1fr);
}

.grid-xs-10 {
  grid-template-columns: repeat(10, 1fr);
}

/* Upper Devices */
@media only screen and (min-width : 480px) {
  .grid-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .grid-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .grid-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  
  .grid-sm-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-sm-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-sm-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-sm-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-sm-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-sm-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-sm-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .grid-sm-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid-sm-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .grid-sm-10 {
    grid-template-columns: repeat(10, 1fr);
  }
}

/* Upper Devices */
@media only screen and (min-width : 1024px) {
  .grid-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .grid-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .grid-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  
  .grid-md-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-md-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-md-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-md-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .grid-md-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid-md-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .grid-md-10 {
    grid-template-columns: repeat(10, 1fr);
  }
}

